* {
  text-align: center;
  font-family: Helvetica, sans-serif;
}
h1 {
  color: #181334;
  margin: 3px;
  font-size: 34px;
  margin-top: 3em;
}
h2 {
  color: #7e52f6;
  margin: 3px;
  font-size: 34px;
}
button {
  color: #7e52f6;
  background-color: #fff;
  padding: 15px;
  border: 1px solid #7e52f6;
  border-radius: 18px;
}
button:hover {
  color: #fff;
  background-color: #7e52f6;
  cursor: pointer;
}
